<div class="container">
<div class="pull-right shape_2">
<%= form_for @user, html: {class: "form-signin"} do |f| %>
<h1>Sign Up</h1>
  <% if @user.errors.any? %>
    <div class="form-group has-error">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class => 'form-control' %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :class => 'form-control' %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, :class => 'form-control' %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => 'form-control' %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => 'form-control' %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </p>
    <%= button_tag "Sign Up", :class => 'btn btn-block btn-lg btn-primary' %>
<% end %>
</div>
</div>
