<div class="row">
  <div class="form-group shape" style="position:fixed; right:75px">
    <%= form_tag("/titles/search", class: 'form-signin', method: :get) do %>
    <h1>Search Titles</h1>
    <%= text_field_tag "q", nil, placeholder: "Enter title", :class => 'form-group' %>
    <%= submit_tag "Search", :class => 'btn btn-lg btn-primary' %>
  <!--   need to disable the search function with an empty text field
   -->
   <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <% if @movies %>
    <div class="thumbnail" style="text-align: center; background: #ecf0f1; padding-top: 35px;">
    <% @movies.each do |t| %>
    <% title = OMDB.id(t[:imdb_id]) %>
      <% if title.poster != "N/A" %>
      <img src="http://src.sencha.io/<%= title.poster %>" alt="poster">
      <% else %>
      <img src="http://i.movie.as/none_140px_2_bk.jpg" alt="no poster">
      <% end %>
      <div style="padding-bottom:30px" class="caption">
        <h3><%= t[:title] %></h3>
        <p><%= t[:year] %> | <%= t[:type] %></p>
              <%= form_tag('/watch_items') do %>
              <%= hidden_field_tag 'title', t[:title] %>
              <%= hidden_field_tag 'imdb_id', t[:imdb_id] %>
              <%= submit_tag 'Add to Watchlist', :class => 'btn btn-primary' %>
              <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-lg-8 pull-right fixtop">
        <h1>View Watchlist</h1>
        <%= link_to "Watch List", user_path(current_user), :class => "btn btn-primary btn-lg btn-inverse" %>
  </div>
</div>





