<div class="row">
  <div class="container">
    <h2><%= @title.title %></h2>
    <div class="medium">
      <% if @title.poster != "N/A" %>
      <img class="img_shape"src="<%= @title.poster %>" alt="poster">
      <% else %>
      <img class="img_shape" src="http://i.movie.as/none_140px_2_bk.jpg" alt="no poster">
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="reviews">
      <%= render :partial => 'review', :collection => @title.reviews %>
    </div>
    <%= form_for [@title, @review] do |f| %>
    <%= f.text_area :body, :class => "form-control input-hg" %>
    <%= f.submit "Submit Review", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

